<div class="container">
  <div class="row">
    <!-- BEGIN: Name Filters Section-->
    <div class="col-12 center">
      <h2>Filter Data by Character Name</h2>
      <P>The below box filters out the names being displayed.</P>
      <form #form="ngForm" name="form" novalidate>
        <input type="text" class="search-field" name="group2" #group2="ngModel" placeholder="Search"
          [(ngModel)]="nameFilter" #group2="ngModel">
      </form>
    </div>
    <!-- END: Name Filters Section-->
  </div>
  <div class="row">
    <!-- BEGIN: Showing shared skeleton component when the data is not returned from backend API -->
    <ng-container *ngIf="!showChar">
      <div *ngFor="let skeleton of skeletonRepeatTime; let i = index" class="col-sm-4">
        <app-skeleton-screen></app-skeleton-screen>
      </div>
    </ng-container>
    <!-- END: Showing shared skeleton component when the data is not returned from backend API -->

    <ng-container *ngIf="(allCharactersEndPoint | SearchFilter: nameFilter)?.length === 0">
        <div class="col-12"><p class="warning">No matched result</p></div>
    </ng-container>

    <!-- BEGIN: Showing list of characters when the data is returned from backend API -->
    <ng-container *ngIf="showChar">
      <ng-container *ngFor="let character of allCharactersEndPoint  | SearchFilter: nameFilter; let i = index">
        <div class="col-sm-4">
          <mat-card class="hero-card hover-wrapper">
            <mat-card-header>
              <mat-card-title>{{character?.name}}</mat-card-title>
            </mat-card-header>
            <div class="img-wrapper">
              <a [routerLink]="['character/', character.id]">
                <img mat-card-image src="{{character?.thumbnail?.path+'.'+character?.thumbnail?.extension}}"
                  alt="Photo of the character">
              </a>
            </div>
            <mat-card-actions>
              <button mat-button (click)="goToCharDetails(character?.id)">View Details</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>
    <!-- END: Showing list of characters when the data is returned from backend API -->

  </div>
</div>
