<ng-container *ngIf="hasDetailsLoaded">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="{{charDetailObj?.thumbnail?.path+'.'+charDetailObj?.thumbnail?.extension}}"
          alt="Photo of the charDetailObj">
      </div>
      <div class="col-sm-6 infor-wrapper">
        <div class="char-header">{{charDetailObj?.name}}</div>
        <ng-container *ngIf="charDetailObj?.description; then showDescription; else showSkelton">
        </ng-container>
        <ng-template #showDescription>
          <p>{{charDetailObj?.description}}</p>
        </ng-template>
        <ng-template #showSkelton>
          <div class="warning">
            This charDetailObj doesn't want to show personal information to public.
          </div>
        </ng-template>
      </div>
    </div>
    <div class="row">
      <mat-tab-group>
        <mat-tab label="Comics they’ve appeared in">
          <mat-list role="list">
            <ng-container *ngFor="let comic of comics">
              <mat-list-item role="listitem">{{comic.name}}</mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-list>
        </mat-tab>
        <mat-tab label="series they’ve appeared in">
            <mat-list role="list">
                <ng-container *ngFor="let serie of series">
                    <mat-list-item role="listitem">{{serie.name}}</mat-list-item>
                    <mat-divider></mat-divider>
                  </ng-container>
            </mat-list>
        </mat-tab>
        <mat-tab label="stories they’ve appeared in">
            <mat-list role="list">
                <ng-container *ngFor="let story of stories">
                    <mat-list-item role="listitem">{{story.name}}</mat-list-item>
                    <mat-divider></mat-divider>
                  </ng-container>
            </mat-list>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</ng-container>

<!-- BEGIN: Showing shared skeleton component when the data is not returned from backend API -->
<ng-container *ngIf="!hasDetailsLoaded">
    <div class="container">
        <div class="row">
            <app-skeleton-screen></app-skeleton-screen>
        </div>
    </div>
</ng-container>
<!-- END: Showing shared skeleton component when the data is not returned from backend API -->

    
