<div class="logo-wrapper"><img class="trave-back" [routerLink]="['/characters']"
    src="./assets/images/1280px-MarvelLogo.svg.png"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button (click)="changeMenuStatus()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [class.show]="hasMobileNavOpened">
    <ul class="navbar-nav">
        <li *ngFor="let item of MENULIST">
            <a class="nav-link" [routerLink]="item.menuRouter" routerLinkActive="active">{{item.menuName}}</a> 
        </li>
    </ul>
  </div>
</nav>
    