
.logo-wrapper {
    width: 100%;
    background: black;
    text-align: center;
}

.logo-wrapper img{
    width: 150px;
}

nav {
    margin-bottom: 30px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }
}